<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567558823095-9obo89u1744uhlo14lec9foivoi8bu3b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567558823095-9obo89u1744uhlo14lec9foivoi8bu3b</string>
	<key>API_KEY</key>
	<string>AIzaSyAgOCYVY_A-7DyZB8VyRDG8tl5W_3Qo0Ak</string>
	<key>GCM_SENDER_ID</key>
	<string>567558823095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lumoraFlutter</string>
	<key>PROJECT_ID</key>
	<string>lumora-3b4ec</string>
	<key>STORAGE_BUCKET</key>
	<string>lumora-3b4ec.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567558823095:ios:f07bf508ce6e0e9cb88132</string>
</dict>
</plist>